

div.scroll_images {
	background-color: #08AEEA;
	overflow: auto;
	white-space: nowrap;
	width: 50%;
	margin: auto;
}

div.scroll_images img {
	padding 10px;
}
  

.banner-google {
	width: 100%;
	max-width:354px;
}

.main {
	padding-bottom: 2.5rem;
}

.header {
	position: relative;
	height: 80vh;
	display: block;
}

.footer {
	display: relative;
	display: block;
	
}


.footer_background {
	position: absolute;
	right: 0;
	width: 100%;
	height: 2.5rem;
	background:  linear-gradient(-19deg, #B721FF, #21D4FD);
	overflow: hidden;
	z-index: -1;
}


.header_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  linear-gradient(19deg, #21D4FD, #B721FF);
	transform-origin: 0px 0px;
	transform: skewY(-10deg);
	overflow: hidden;
	z-index: -1;
	
}

.header_background:before,
.header_background:after {
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: (100%/3);
	opacity: .3;
	filter: blur(15px);
}

.header_content {
	padding: 5rem;
	margin: 0 auto;
	display: block;
}

.header_float {
	width: 50%;
	float: left;
	
}
.header_hero {
	
	
	h1, p {
		color: white;
		
	}
	
	h1 {
		margin: 0;
		font-size: 3rem;
	}
	p {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
}


.header_visual {
	position: relative;
	margin-top: rem;
	transform: rotate(-10deg);
	
	text-align: center;

}


.phone {
	display: inline-block;
	background: black;
	padding: 4rem .6rem 0;
	border-radius: 2rem;
	text-align: center;
	
	
}

.phone:before, 
.phone:after {
	content: '';
	display: block;
}

.phone:before {
	background-color: #08AEEA;
	background-image: url("images/phone1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 16rem;
	padding-top: 177.5%;
	
}

.phone:after {
	content: '';
	display: inline-block;
	margin: .6rem;
	padding: 1.4rem;
	border: 1px solid #f1f1f1;
	border-radius: 2rem;
}

